/* Controllers */

/* Btn-controllers */

.btn-controllers {
  width: 100%;
  font-size: .85rem;
  text-transform: uppercase;
  color: var(--btn-controllers-text);
  background-color: var(--btn-controllers);
  border: none;
  padding: 8px 16px;
  border-radius: 18px;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.btn-controllers:hover {
  color: var(--btn-controllers-hover-text);
  background-color: var(--btn-controllers-hover);
}

.pannels {
  display: flex;
  opacity: 0;
  max-height: 0;
  flex-direction: column;
  overflow: hidden;
  transition: all .3s ease-in;
}

.pannels.active {
  opacity: 1;
  max-height: 500px;
  gap: 12px;
  padding-top: 8px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  border-bottom: 2px solid var(--controller-separator);
}

.pannels.active:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pannels .dropdown {
  width: 100%;
  border-radius: 18px;
}

.pannels .dropdown .dropdown-toggle {
  font-size: .8rem;
  color: var(--controller-dropdown-text);
  background-color: var(--controller-dropdown);
  border: none;
  box-shadow: none;
}

.pannels .dropdown .dropdown-menu {
  width: 100%;
  font-size: .8rem;
  color: var(--controller-dropdown-text);
  background-color: var(--controller-dropdown-menu);
}

.pannels .dropdown .dropdown-menu .dropdown-item {
  text-align: center;
}

.pannels .autocomplete-items {
  /*position: absolute;*/
  /*z-index: 1000;*/
  background-color: #fff;
  /*border: 1px solid #ced4da;*/
  border-top: none;
  padding: 0;
  /*width: 100%;*/
  margin-top: -10px;
  overflow-y: auto;
}

.pannels .autocomplete-item {
  font-size: .8rem;
  color: var(--controller-dropdown-text);
  padding: 6px 10px;
  margin: 2px 2px;
  cursor: pointer;
}

.pannels .autocomplete-items {
  border-radius: 8px;
}

.pannels .autocomplete-item:last-child {
}

.pannels .autocomplete-item:hover {
  border-radius: 8px;
  background-color: var(--controller-automplete-hover);
}

.pannels .btn-group button[type="button"] {
  font-size: .75rem;
  color: #ffff;
  background-color: #e07e38;
  border: none;
  transition: all .3s ease-in-out;
}

.pannels .btn-group button[type="button"].active {
  background-color: #da1f05;
  border: none;
}

.pannels .btn-group button[type="button"]:hover {
  background-color: #da1205;
}

.pannels .btn-group button[type="button"]:first-child {
  border-radius: 16px 0 0 16px;
}

.pannels .btn-group button[type="button"]:last-child {
  border-radius: 0 16px 16px 0;
}

.pannels h2 {
  font-size: .8rem;
  color: var(--controller-title);
  text-align: center;
  margin-bottom: -4px;
}

.horizontal-division {
  display: flex;
  flex-direction: row;
  flex-basis: fill;
  gap: 8px;
}

.pannels input[type="text"], .pannels input[type="date"], .pannels input[type="file"] {
  font-size: .8rem;
  color: var(--controller-dropdown-text);
  border: none;
  box-shadow: none;
}

.pannels button[type="submit"] {
  width: 100%;
  font-size: .85rem;
  color: var(--controller-submit-text);
  background-color: var(--controller-submit);
  border-radius: 18px;
  border: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.pannels button[type="submit"]:hover {
  background-color: var(--controller-submit-hover);
}

.pannels .btn-download {
  width: 100%;
  font-size: .85rem;
  color: var(--controller-submit-text);
  background-color: #ed9d02;
  border-radius: 18px;
  border: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.pannels .btn-download:hover {
  background-color: #da1205;
}

.legend-square {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
}

.square {
  background-color: #4caf50;
  aspect-ratio: 1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square span {
  font-size: .85rem;
  color: var(--legend-square-square-txt);
}

.square span:last-child {
  font-size: .7rem;
  margin-top: -5px;
}

.square:nth-child(1) {
  background-color: #F2EFE9;
}

.square:nth-child(2) {
  background-color: #79F789;
}

.square:nth-child(3) {
  background-color: #F4F775;
}

.square:nth-child(4) {
  background-color: #F7A774;
}

.square:nth-child(5) {
  background-color: #E15012;
}

.legend-square.vert {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.legend-square.vert .square {
  width: 100%;
  height: 16px;
  border-radius: 0;
  aspect-ratio: initial;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.legend-square.vert .square span {
  margin: 0;
  /*color: #fff;*/
  font-size: .6rem;
}

.legend-square.vert .square:nth-child(5) span {
  color: #fff;
}

.legend-square.vert .square:nth-child(1) {
  background-color: #30FF02;
}

.legend-square.vert .square:nth-child(2) {
  background-color: #FFF700;
}

.legend-square.vert .square:nth-child(3) {
  background-color: #FD6F00;
}

.legend-square.vert .square:nth-child(4) {
  background-color: #FB0200;
}

.legend-square.vert .square:nth-child(5) {
  background-color: #7E0003;
}

/* Square Days */

.card-square.days .square:nth-child(1) {
  background-color: #f8d183;
}

.card-square.days .square:nth-child(2) {
  background-color: #f7ba74;
}

.card-square.days .square:nth-child(3) {
  background-color: #e78f27;
}

.card-square.days .square:nth-child(4) {
  background-color: #f8532f;
}

.square:nth-child(5) {
  background-color: #c63b00;
}

.legend-square-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.legend-square-text span {
  min-width: 64px;
  font-size: .8rem;
  color: var(--legend-square-text);
}

.legend-square-text span:nth-child(2) {
  text-align: center;
}

.legend-square-text span:nth-child(3) {
  text-align: right;
}

.pannels .box {
  width: 100%;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.pannels .box .legend {
  font-size: .8rem;
  font-weight: 600;
}

.pannels .box .data {
  font-size: .8rem;
}

/* Login Form */

.login-form img {
  width: 120px;
  height: auto;
  padding-bottom: 24px;
}

.login-form input[type="text"], .login-form input[type="password"] {
  font-size: .85rem;
  color: var(--controller-dropdown-text);
  border: none;
  box-shadow: none;
}

.login-form button[type="submit"], .login-form .btn {
  width: 100%;
  font-size: .85rem;
  color: var(--controller-submit-text);
  background-color: var(--controller-submit);
  border-radius: 18px;
  border: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
  margin-bottom: 24px;
}

.login-form button[type="submit"]:hover, .login-form .btn:hover {
  color: #fff;
  background-color: var(--controller-submit-hover);
}

.login-form .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form a {
  font-size: .8rem;
  color: var(--login-form-link);
  /*text-decoration: none;*/
  transition: all .3s ease-in-out;
}

.login-form a:hover {
  color: var(--login-form-link-hover);
}

.login-form hr {
  width: 100%;
  height: 3px;
  background-color: var(--login-form-hr);
}

/* Modal */

.modal-template .modal-header, .modal-template .modal-body, .modal-template .modal-footer {
  background-color: var(--modal-background);
}

.modal-template h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--modal-text-color);
}

.modal-template p, .modal-template li {
  font-size: .8rem;
  color: var(--modal-text-color);
}

.modal-template .btn-fechar {
  color: var(--modal-btn-fechar-text);
  background-color: var(--modal-btn-fechar);
  border: none;
  border-radius: 18px;
  padding: 8px 24px;
}

.modal-template .btn-salvar {
  color: var(--modal-btn-fechar-text);
  background-color: var(--modal-btn-salvar);
  border: none;
  border-radius: 18px;
  padding: 8px 24px;
}

.modal-template input[type="radio"] + label {
  font-size: .8rem;
  color: var(--modal-text-color);
}

.modal-template .btn-group button[type="button"] {
  font-size: .75rem;
  color: #ffff;
  background-color: #d75e06;
  border: none;
}

.modal-template .btn-group button[type="button"]:hover {
  font-size: .75rem;
  color: #ffff;
  background-color: #d72c06;
  border: none;
}

.modal-template .btn-group button[type="button"]:first-child {
  border-radius: 16px 0 0 16px;
}

.modal-template .btn-group button[type="button"]:last-child {
  border-radius: 0 16px 16px 0;
}

/* Tabs */

.tabs:not(:first-child) {
  margin-top: 24px;
}

.tabs .nav-item .nav-link {
  font-size: .85rem;
  color: var(--navtab-txt);
}

.tabs .nav-item .nav-link.active {
  color: var(--navtab-active-txt);
  font-weight: 600;
}

.tabs .tab-content {
  background-color: var(--tabcontent-background);
  background: linear-gradient(0deg, rgba(206, 214, 237, 1) 0%, rgba(232, 238, 250, 1) 100%);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 2px solid #e0e0e0;
  margin-top: 8px;
  padding: 16px 12px;
}

.tabs .tab-content .tab-pane {
  position: relative;
  width: 100%;
  height: 100%;
}

.tabs .tab-content .tab-pane .btn-download {
  position: absolute;
  right: -16px;
  top: -64px;
  font-size: 1.2rem;
  color: var(--navtab-active-txt);
}

.tabs .tab-content-dash {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 280px;
}

.tabs .tab-content-dash img {
  width: 100%;
  height: 100%;
  min-height: 260px;
}

.tabs .tab-content-dash .dash-acumulado-anual {
  width: 100%;
}

.tabs .tab-content-dash .dash-acumulado-anual .box-tab {
  background-color: var(--tabcontent-box);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--tabcontent-box-border);
}

.tabs .tab-content-dash .dash-acumulado-anual .box-tab .title {
  width: 100%;
  font-size: .8rem;
  font-weight: 600;
  color: var(--tabcontent-box-title);
  text-transform: uppercase;
}

.tabs .tab-content-dash .dash-acumulado-anual .box-tab .data {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: right;
  color: var(--tabcontent-box-txt);
}

.tabs .tab-content-dash .dash-acumulado-anual .box-tab .bar {
  width: 100%;
  height: 6px;
  background-color: var(--tabcontent-box-bar-bg);
}

.tabs .tab-content-dash .dash-acumulado-anual .box-tab .bar .percent {
  width: 20%;
  height: 100%;
  background-color: var(--tabcontent-box-bar-percent);
}

.tabs .tab-pane .legend {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: .75rem;
  line-height: 1rem;
  /*text-align: right;*/
}

/* Imagem perigo fogo */

.image-perigo-fogo {
  width: 100%;
  height: calc(100dvh - 152px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.image-perigo-fogo img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: auto;
  object-fit: contain;
}

.btn-pannel {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  row-gap: 12px;
  /*background-color: rgba(255,255,255,0.2);*/
  border: 1px solid var(--sifau-green-border);
}

.btn-pannel.sifau-btn-pannel h2 {
  color: var(--sifau-green-border);
  margin: 0 auto;
  margin-top: -20px;
  background-color: #023C63;
  width: 60px;
}

.btn-pannel.sifau-btn-pannel .btn-group .btn {
  background-color: var(--sifau-green-border);
}

.btn-pannel.sifau-btn-pannel .btn-group .btn:hover {
  background-color: var(--sifau-orange-hover);
}

.logos-sifau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
  margin-top: 8px;
}

/* SIFAU */

.btn-control-pannel.sifau-btn-control {
  background-color: #90B93E;
}

.control-pannel.sifau-control-pannel {
  background: #023C63;
  background: linear-gradient(180deg,rgba(2, 60, 99, 1) 29%, rgba(7, 129, 174, 1) 100%);
}

/* List-Areas */

.list-areas ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-areas ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  background-color: transparent;
  margin-bottom: 6px;
  font-size: .8rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  border: 1px solid var(--sifau-green-border);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.list-areas ul li:last-child {
  margin-bottom: 0;
}

.list-areas ul li:hover {
  background-color: var(--sifau-green-border);
}

.list-areas ul li.active {
  border-color: var(--sifau-orange-hover);
  background-color: var(--sifau-orange-hover);
}

.list-areas ul li .btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
}

.list-areas ul li .btn:hover {
  background-color: rgba(255,255,255,0.6);
}

.list-areas ul li .btn i {
  padding: 0;
  font-size: .8rem;
  color: #fff;
  transition: all .3s ease-in-out;
}

.list-areas ul li .btn:hover i {
  color: #000;
}

/* Legenda Camadas */

.draggable {
  position: absolute;
  left: 12px;
  top: 92px;
  z-index: 50;
  width: calc(100% - 24px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: move;
  border-radius: 16px;
  user-select: none;
}

@media (min-width: 768px) {
  .draggable {
    left: 24px;
    width: 360px;
  }
}

.draggable .drag-bar {
  width: 100%;
  height: 40px;
  background-color: var(--sifau-drag-bar);
  border-radius: 16px;
  padding: 6px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.draggable .drag-bar h3 {
  font-size: .85rem;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.draggable .drag-bar .btn-drag-show {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.draggable .drag-bar .btn-drag-show i {
  color: #fff;
  transition: all .3s ease-in-out;
}

.draggable .drag-bar .btn-drag-show i:hover {
  color: var(--sifau-orange-hover);
}

.draggable .drag-content {
  width: calc(100% - 32px);
  height: 0;
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  padding: 0 16px;
  transition: all .3s ease-in-out;
  overflow-y: hidden;
}

.draggable .drag-content.active {
  padding: 16px;
  height: auto;
}

.draggable .drag-content .accordion-header .accordion-button {
  font-size: .8rem !important;
  font-weight: 700;
  color: #fff;
  background-color: var(--control-pannel);
  box-shadow: none;
  padding: 8px 16px;
}

.draggable .drag-content .accordion-body {
  padding: 0;
}

.draggable .drag-content .accordion-body img {
  width: 100%;
}

/* Aplication Topics */

.aplication-topics {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 16px 12px;
}

.aplication-topics:first-child {
  border-top: 1px solid #fff;
}

.aplication-topics img {
  width: 50px;
  height: auto;
}

.aplication-topics ul {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

/* Menu Envio */

.menu-envio {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

.menu-envio li a {
  font-size: .9rem;
  font-weight: 600;
  list-style: none;
  color: #1B6ADE;
  padding: 12px 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

.menu-envio li a:hover, .menu-envio li a.active {
  color: #fff;
}

.menu-envio li {
  border-right: 2px solid #1B6ADE;
}

.menu-envio li:last-child {
  border-right: none;
}

/* Form Envio */

.form-envio {
}

.form-envio input, .form-envio .form-select, .form-envio textarea {
  font-size: .85rem !important;
  color: var(--controller-dropdown-text);
}

.form-envio .text-termos {
  font-size: .8rem;
  color: var(--top-bar-btn);
  font-style: italic;
}

.form-envio label {
  font-size: .8rem;
  color: #fff;
}

.form-envio .btn {
  font-size: .85rem;
  color: var(--controller-submit-text);
  background-color: var(--controller-submit);
  border-radius: 18px;
  border: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
  margin-bottom: 24px;
}

.form-envio .btn:hover {
  color: #fff;
  background-color: var(--controller-submit-hover);
}

.form-envio .btn.disabled {
  background-color: var(--controller-dropdown-text);
}

.form-envio #file-field {
  opacity: 1;
}

.form-envio #file-field.disabled {
  opacity: 0.5;
}

/* Card Fogoteca Success */

.card-fogoteca-success {
  display: flex;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #0E2A98;
  border-radius: 20px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
}

.card-fogoteca-success p {
  font-size: 1.2rem !important;
  line-height: 1.7rem !important;
  color: #fff;
  text-align: center;
}

.btn-fogoteca-success {
  font-size: .85rem;
  padding: 8px 32px;
  color: var(--controller-submit-text);
  background-color: var(--controller-submit);
  border-radius: 18px;
  border: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-fogoteca-success:hover {
  color: #fff;
  background-color: var(--controller-submit-hover);
}

